* {
    font-family: 'Nokora', sans-serif;;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('./img/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

canvas {
    width: 100vw;
    height: 100vw;
}

.cavnas_wrapper {
    top: 4vh;
    position: relative;
}

.x_coef {
    position: absolute;
    left: calc(50% - 10vw);
    top: calc(50% - 10vw);
    width: 20vw;
    height: 20vw;
    background: url('./img/x_bg.png');
    background-size: cover;
    text-align: center;
    line-height: 20vw;
    color: #fff;
    font-size: 10vw;
    z-index: 3;
}

.x_coef_active {
    background-image: url('./img/x_bg_win.png');
}



@keyframes salutAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.salut {
    position: absolute;
    left: calc(50% - 30vw);
    top: calc(50% - 30vw);
    width: 60vw;
    height: 60vw;
    background: url('./img/salut.png');
    background-size: cover;
    text-align: center;
    z-index: -1;
    opacity: 0;
    animation: salutAnimation 900ms linear infinite;
}

.x_coef_active + .salut {
    opacity: 1;
    transition: opacity 300ms ease;
}

.roll_btn {
    position: fixed;
    bottom: 11vh;
    width: 28vw;
    left: 36vw;
}

.arr {
    position: fixed;
    bottom: 2vh;
    width: 14vw;
    cursor: pointer;
}

.arr_l {
    left: 1.5vw;
}

.arr_r {
    right: 1.5vw;
}

.bet {
    position: fixed;
    bottom: 2vh;
    width: 64vw;
    left: 17vw;
    background-image: url('./img/bet_bg.png');
    height: 11.6vw;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    line-height: 11.6vw;
    text-align: center;
    font-size: 5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bet img, .balace img {
    margin-left: 10px;
}


.balace {
    position: fixed;
    background-image: url('./img/bet_bg.png');
    background-position: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    height: 11.6vw;
    top: 1vh;
    right: 1.5vw;
    font-size: 5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.home {
    position: fixed;
    height: 11.6vw;
    top: 1vh;
    left: 1.5vw;
}


.bonus-row {
    position: fixed;
    bottom: 26vh;
    color: #fff;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.bonus-btn {
    width: 16.6vw;
    height: 8vw;
    background: url('./img/button.png');
    text-align: center;
    background-size: cover;
    line-height: 8vw;
    font-size: 3vw;
    position: relative;
}

.bonus-btn:first-child {
    margin-right: 13vw;
}

.bonus-btn img {
    height: 10vw;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}