* {
    font-family: 'Nokora', sans-serif;
    ;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('./img/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

canvas {
    width: 100vw;
    height: 100vw;
    background: url('./img/light.png');
    background-size: cover;
    background-position: center;
}

.cavnas_wrapper {
    top: 4vh;
    position: relative;
}

.x_coef {
    position: absolute;
    left: calc(50% - 10vw);
    top: calc(50% - 11vw);
    width: 20vw;
    height: 20vw;
    background: url('./img/x_bg.png');
    background-size: cover;
    text-align: center;
    line-height: 20vw;
    color: #fff;
    font-size: 10vw;
    z-index: 3;
}

.x_coef_active {
    background-image: url('./img/x_bg_win.png');
}



@keyframes salutAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.salut {
    position: absolute;
    left: calc(50% - 30vw);
    top: calc(50% - 30vw);
    width: 60vw;
    height: 60vw;
    background: url('./img/salut.png');
    background-size: cover;
    text-align: center;
    z-index: 1;
    opacity: 0;
    animation: salutAnimation 1500ms linear infinite;
}

.x_coef_active+.salut {
    opacity: 1;
    transition: opacity 300ms ease;
}

.roll_btn {
    position: fixed;
    bottom: 11vh;
    width: 28vw;
    left: 36vw;
}

.arr {
    position: fixed;
    bottom: 2vh;
    width: 14vw;
    cursor: pointer;
}

.arr_l {
    left: 1.5vw;
}

.arr_r {
    right: 1.5vw;
}

.bet {
    position: fixed;
    bottom: 2vh;
    width: 64vw;
    left: 17vw;
    background-image: url('./img/bet_bg.png');
    height: 11.6vw;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    line-height: 11.6vw;
    text-align: center;
    font-size: 5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bet img,
.balace img {
    margin-left: 10px;
}


.balace {
    position: fixed;
    background-image: url('./img/bet_bg.png');
    background-position: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    height: 11.6vw;
    top: 1vh;
    right: 1.5vw;
    font-size: 5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.home {
    position: fixed;
    height: 11.6vw;
    top: 1vh;
    left: 1.5vw;
}


.bonus-row {
    position: fixed;
    bottom: 26vh;
    color: #fff;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.bonus-btn {
    width: 16.6vw;
    height: 8vw;
    background: url('./img/button.png');
    text-align: center;
    background-size: cover;
    line-height: 8vw;
    font-size: 3vw;
    position: relative;
}

.bonus-btn:first-child {
    margin-right: 13vw;
}

.bonus-btn img {
    height: 10vw;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}


.terms,
.menu {
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('./img/menu_bg.png');
    background-size: cover;
    background-position: center;
}

@keyframes termsHide {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.terms_hidden {
    animation: termsHide 300ms ease forwards;
}

.terms-content {
    background: url('./img/terms_bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    margin-top: 10vh;
    font-size: 18px;
    color: #fff;
    padding: 5vh;
    box-sizing: border-box;
    overflow: hidden;

}

.terms-content-content {
    overflow-y: scroll;
    height: 60vh;
}

.ok {
    height: 10vh;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.flex-column-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu img {
    height: 15vh;
}

.menu>img+img {
    margin-top: 4vh;
}

.shop {
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('./img/menu_bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    pointer-events: none;
}

.shop_active {
    opacity: 1;
    pointer-events: all;
}

.shop .bonus-btn {
    margin-right: 1vw;
    width: 33.2vw;
    height: 16vw;
    line-height: 16vw;
    font-size: 5vh;
    padding-left: 3vw;
    box-sizing: border-box;
}

.shop .bonus-btn img {
    height: 20vw;
}

.add {
    height: 16vw;
    margin-left: 1vw;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shop-row_f {
    margin-top: 14vh;
}

.shop-row + .shop-row {
    margin-top: 5vw;
}

.shop-row > div:first-child {
    width: 100%;
    margin-bottom: 1.5vw;
    text-align: center;
}

.shop_back {
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    max-height: 96vh;
}

.coin {
    width: 6vw!important;
    height: auto!important;
}

.rotatescreent {
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 5vw;
    background: #000;
}

.rotatescreent img {
    background: #fff;
    width: 20vw;
}